<ion-view view-title="Cart" ng-init="init();">
  <ion-content>
  
      <div class="card">
          <div class="row">
              <div class="col" style="height:40px;">
                  Select Lorry
              </div>
              <div class="col" style="height:40px;">
                  <select>
                      <option>17 tonnes</option>
                      <option>21 tonnes</option>
                      <option>25 tonnes</option>
                  </select>
              </div>
          </div>
      </div>
      
      <ion-scroll zooming = "true" direction = "x" style="width:100%;height:150px;" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
            <div class = "scroll-container card" style="height:100%;background-image: url('')">
                <div ng-repeat="product in deliveryArray track by $index" style="width:80px;height:100%;">
                    {{product.productId}}
                </div>
            </div>
        </ion-scroll>
      
      
      <div class="padding" ng-repeat = "(key,data) in cartArray" ng-drag="true" ng-drag-data="$index" data-allow-transform="true"
          style="background-color:lightgray;position:relative;">
      {{key}}
            <div class="card" ng-repeat="order in data">
                {{order.name}}<br>
                {{order.bag}}<br>
                <button ng-click="addToDeliveryArray(key,order)">Add</button>
                <button ng-click="removeItemFromDeliverable(key,order)">Remove</button>
            </div>
    </div>
      
      <div class="card">
          <b>Address</b>
          {{userInfo.address}}
      </div>
      
  
  </ion-content>
    <ion-footer-bar align-title="center" class="bar-assertive">
        <button ng-click="submitOrder()">Proceed</button>
    </ion-footer-bar>
</ion-view>
