<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
        <div class="padding" ng-hide="showUserInputField">
            <div class="list list-inset">
              <label class="item item-input">
                  <input type="text" placeholder="Username" ng-model="userData.username">
              </label>
              <label class="item item-input">
                  <input type="password" placeholder="Password" ng-model="userData.password">
              </label>
            </div>
            <div class="row">
              <div class="col">
                  <button class="button button-block button-calm" ng-click="signIn()">Login</button>
              </div>
              <div class="col">
                  <button class="button button-block button-calm" ng-click="signUp()">SignUp</button>
              </div>
            </div>
        </div>
      
      <div class="padding" ng-show="showUserInputField">
          <div class="list list-inset">
              <label class="item item-input">
                  <input type="text" placeholder="Name" ng-model="signUpData.name">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Mobile Number" ng-model="signUpData.mobile">
              </label>
              <label class="item item-input">
                  Is Agent <input type="radio" value="true" ng-change="getIsAgent('true')"/> <input type="radio" value="false" ng-change="getIsAgent('flase')"/>
                  <input type="text" placeholder="Is Agent" ng-model="signUpData.isAgent">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Address" ng-model="signUpData.address">
              </label>
              <div class="padding">
                  Shop
              </div>
              <label class="item item-input">
                  <input type="text" placeholder="Name" ng-model="signUpData.shop.name">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Proprietor Name" ng-model="signUpData.shop.proprietor_name">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Mobile" ng-model="signUpData.shop.mobile">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Pan" ng-model="signUpData.shop.pan">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Tin" ng-model="signUpData.shop.tin">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="State" ng-model="signUpData.shop.state">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="District" ng-model="signUpData.shop.district">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="City" ng-model="signUpData.shop.city">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Address" ng-model="signUpData.shop.address">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Tax Type "ng-model="signUpData.shop.tax_id.type">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Tax Value" ng-model="signUpData.shop.tax_id.value">
              </label>
            </div>
          <button class="button button-block button-calm" ng-click="fillSignUpData()">Submit</button>
      </div>
      
      <button ng-show="loginAgain" class="button button-block button-calm" ng-click="showUserInputField = true;">Click Here To Login</button>
      
      
      
  </ion-content>
     
</ion-modal-view>
