<ion-side-menus><!-- enable-menu-with-back-views="false">-->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable"><!-- ng-show="showHeader"-->
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"
                style="color:white;">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-cart" id="addToCartLogo" ng-click="continue();"
                style="color:white;">

        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable" style="color: #387ef5;">
      <h1 class="title">Options</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
<!--        <ion-item menu-close href="#/app/login">
          Login
        </ion-item>-->
        <div class="col">
        <ion-item menu-close ng-click="redirect('search');" style="color: black">
            <img src="img/list.png" width="15px" height="15px"><span style="padding-left: 10px">Items</span>
        </ion-item>
        <ion-item menu-close ng-click="redirect('shop');" style="color:black">
          <img src="img/shop.png" width="20px" height="20px"><span style="padding-left: 10px">Shop</span>
        </ion-item>
         <ion-item menu-close ng-click="redirect('cart');" style="color:black">
             <img src="img/cart.png" width="24px" height="24px"><span style="padding-left: 10px">Cart</span>
        </ion-item>
        <ion-item menu-close ng-click="redirect('orders');" style="color: black">
         <img src="img/lorry.png" width="24px" height="24px"><span style="padding-left: 10px">Orders</span>
        </ion-item>
        <ion-item menu-close ng-click="signOut();" style="color: black">
         <img src="img/signout.png" width="20px" height="20px"><span style="padding-left: 10px">Sign Out</span>
        </ion-item>
        <ion-item menu-close ng-click="redirect('prices');" style="color: black">
         <img src="img/signout.png" width="20px" height="20px"><span style="padding-left: 10px">Prices</span>
        </ion-item>
        </div>
      </ion-list>
        
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
