<ion-view ng-init="loadOrders()" style="background-color: #fff">
    <div class="bar bar-header">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" id="naviconIcon" style="color:white;">
        </button>
        <h1 class="title" style="color:white;">ORDER HISTORY</h1>
        <button class="button button-icon button-clear ion-ios-cart" id="addToCartLogo" ng-click="continue();"
                style="color:white;">
        </button>
    </div>
    <ion-content class="has-header">
        <div class="padding" style="margin-top: 20px;">
            <p style="padding-left: 10px;font-size:16px;font-weight: 500">Latest order appears on the top of the page.<br><br> You can track/cancel/view updates related to the order.</p>
            <ion-list>
                <div ng-repeat = "order in ordersArray " style="margin-top: 15px">
                    <ion-item class="item-stable" style="background-color: white;margin-top: 4px">
                        <div class="row" ng-click="onClickOrder(order)" style="cursor:pointer;color: #388e3c;font-weight: 500;font-size: 18px">
                            <i id="{{order}}icon" style="margin-right: 10px" class="icon ion-plus" ng-class="ion-plus"></i>
                            {{order}}
                        </div>
                    </ion-item>

                    <div ng-repeat="(key,value) in getOrderStatus(order)" id="{{order}}expanded"
                         style="background-color:#fff;display: none;" >
                        <div class="row card">
                            <div class="col-75">
                                STATUS : {{value.status}}
                            </div>
                            <div class="col">
                                <i class="icon ion-close-round" ng-click="showDeletePopUp(order)" style="color:red;font-size: 20px;margin-right: 20px;float: right"></i>
                                <i class="icon ion-eye" ng-click="showOrder(order)" style="font-size: 20px;"></i>
                            </div>
                        </div>
                        <div id="{{order}}OrderEye" ng-show="isViewDetailClicked(order)">
                            <div class="card" id="viewDetailedOrder">

                                <div class="padding col" ng-repeat="shop in shopArrayOrderDetail" style="width: 108%">
                                    <h4 style="margin-left:10px">{{shop.name}}</h4>
                                    <hr style="margin-left:10px">
                                    <div class="row"  style="margin-top: 5px">
                                        <div class="col-25">
                                            <p  style="text-align: right;margin-right: 25%"><i>Item Name</i></p>
                                        </div>
                                        <div class="col-10">
                                            <p style="text-align: right;margin-right: 25%">Wt in Qtls</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;margin-right: 25%">Qtl Price</span>
                                        </div>
                                         <div class="col">
                                            <p style="text-align: right;margin-right: 25%">Price Aft Disc</p>
                                        </div>
                                        <div class="col-25">
                                            <p style="text-align: right;margin-right: 25%">Price</p>
                                        </div>

                                    </div>

                                    <div ng-repeat="(key,item) in shop.items" >
                                        <div ng-repeat="(k,v) in item" >
                                           <div class="row">
                                                <div class="col-25">
                                                    <p style="text-align: right;margin-right: 25%">{{v.name}}</p>
                                                </div>
                                                <div class="col-10">
                                                    <p style="text-align: right;margin-right: 25%">{{v.weight}}</p>
                                                </div>
                                                <div class="col">
                                                    <p style="text-align: right;margin-right: 25%">&#8377;{{v.quintalWeightPrice}}</p>
                                                </div>
                                                <div class="col">
                                                    <p style="text-align: right;margin-right: 25%">&#8377;{{v.discountedQuintalPrice}}</p>
                                                </div>
                                                <div class="col-25">
                                                    <p style="text-align: right;margin-right: 25%">&#8377;{{v.price}}</p>
                                                </div>
                                         </div>
                                        </div>
                                    </div>
                                     <div class="row" style="color:green">            
                                            <div class="col">
                                                <span>Total: {{shop.totalShopPrice}}</span>
                                            </div>
                                            <div class="col-20">
                                                <span>Discount: {{shop.shopDiscountAmount}}</span>
                                            </div>
                                            <div class="col-40">
                                                <span>Amount Payable: {{shop.shopGrossAmount}}</span>
                                            </div>
                
                                     </div>
                                    <hr style="border-top: 1px dotted">
                                    <br>
                                </div>
                            </div>
                            <div class="row card" >
                                <div class="col-60">
                                </div>
                                <div class="col">
                                    <ul class="priceList">
                                        <li>
                                            <div class="row">
                                                <div class="col" style="padding: 0">
                                                    <span>TOTAL PRICE</span>
                                                </div>
                                                <div class="col" style="padding: 0">
                                                    <span style="padding-left: 20%" id="gross_price">&#8377;{{cartArrayOrderDetail.grossPrice}}</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col" style="padding: 0">
                                                    <span>DISCOUNT</span>
                                                </div>
                                                <div class="col" style="padding: 0">
                                                    <span style="padding-left: 20%" id="discount_amount">&#8377;{{cartArrayOrderDetail.discount_amount}}</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col" style="padding: 0">
                                                    <span>GRAND TOTAL</span>
                                                </div>
                                                <div class="col" style="padding: 0;">
                                                    <span style="padding-left: 20%;" id="grand_total">&#8377;{{cartArrayOrderDetail.totalPrice}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div ng-repeat="msgs in value.updates" class="row">
                            <ion-item class="row" >
                                <div class="col">
                                    {{msgs.timestamp}}
                                </div>
                                <div class="col" style="word-wrap: break-word">
                                    {{msgs.message}}
                                </div>
                            </ion-item>
                        </div>
                    </div>
                </div>
            </ion-list>
        </div>
    </ion-content>

</ion-view>
