<ion-view ng-init="loadOrders()" style="background-color: #fff">
    <div class="bar bar-header">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" id="naviconIcon" style="color:white;">
        </button>
        <h1 class="title" style="color:white;">ORDER HISTORY</h1>
        <button class="button button-icon button-clear ion-ios-cart" id="addToCartLogo" ng-click="continue();"
                style="color:white;">
        </button>
    </div>
    <ion-content class="has-header">
        <div class="padding" style="margin-top: 20px;">
            <p style="padding-left: 10px;font-size:16px;font-weight: 500">Latest order appears on the top of the page.<br><br> You can track/cancel/view updates related to the order.</p>
            <ion-list>
                <div ng-repeat = "order in ordersArray track by $index" style="margin-top: 15px">
                    <ion-item class="item-stable" style="background-color: white;margin-top: 4px">
                        <div class="row" ng-click="onClickOrder(order)" style="cursor:pointer;color: #388e3c;font-weight: 500;font-size: 18px">
                            <i id="{{order}}icon" style="margin-right: 10px" class="icon ion-plus" ng-class="ion-plus"></i>
                            {{order}}
                        </div>
                    </ion-item>

                    <div ng-repeat="(key,value) in getOrderStatus(order) track by $index" id="{{order}}expanded"
                         style="background-color:#fff;display: none;" >
                        <div class="row card">
                            <div class="col-75" style="padding-left: 15px;padding-top: 5px;">
                                STATUS : {{value.status}}
                            </div>
                            <div class="col" ng-click="showOrder(order)">
                                <i class="icon ion-eye"  style="font-size: 22px;float:right;margin-right: 8px"></i>
                            </div>
                        </div>
                        <div id="{{order}}OrderEye" ng-show="isViewDetailClicked(order)">
                            <div class="card" id="viewDetailedOrder">

                                <div class="padding col" ng-repeat="shop in shopArrayOrderDetail" style="width: 108%">
                                    <h4 style="margin-left:10px">{{shop.name}}</h4>
                                    <hr style="margin-left:10px">

                                    <div ng-repeat="(key,item) in shop.items" >
                                        <div ng-repeat="(k,v) in item" >
                                           <div class="card" style="width:92%;">
                                                <div class="row">
                                                    <p style="width: 100%;">
                                                        <span><b>Item Name</b></span>
                                                        <span style="float:right;">{{v.name}}</span>
                                                    </p>
                                                </div>
                                                <div class="row">
                                                    <p style="width: 100%;">
                                                        <span><b>Weight in Quintals</b></span>
                                                        <span style="float:right;">{{v.weight}}</span>
                                                    </p>
                                                </div>
                                                <div class="row">
                                                    <p style="width: 100%;">
                                                        <span><b>Quintal Price</b></span>
                                                        <span style="float:right;">&#8377;{{v.quintalWeightPrice}}</span>
                                                    </p>
                                                </div>
                                                <div class="row">
                                                    <p style="width: 100%;">
                                                        <span><b>Price After Discount</b></span>
                                                        <span style="float:right;">&#8377;{{v.discountedQuintalPrice}}</span>
                                                    </p>
                                                </div>
                                                <div class="row">
                                                    <p style="width: 100%;">
                                                        <span>
                                                            <b>Price</b>
                                                            <span style="float:right;">&#8377;{{v.price}}</span>
                                                        </span>
                                                    </p>
                                                </div>
                                         </div>
                                        </div>
                                    </div>
                                         <div class="row" style="width: 92%;color:green;">
                                             <p style="width: 100%;">
                                                        <span>
                                                            <b>Total</b>
                                                            <span style="float:right;">&#8377;{{shop.totalShopPrice}}</span>
                                                        </span>
                                             </p>
                                         </div>
                                         <div class="row" style="width: 92%;color:green;">
                                             <p style="width: 100%;">
                                                        <span>
                                                            <b>Discount</b>
                                                            <span style="float:right;">&#8377;{{shop.shopDiscountAmount}}</span>
                                                        </span>
                                             </p>
                                         </div>
                                         <div class="row" style="width: 92%;color:green;">
                                             <p style="width: 100%;">
                                                        <span>
                                                            <b>Amount Payable:</b>
                                                            <span style="float:right;">&#8377;{{shop.shopGrossAmount}}</span>
                                                        </span>
                                             </p>
                                         </div>
                                    <hr style="border-top: 1px dotted">
                                    <br>
                                </div>
                            </div>
                            <div class="row" style="padding-left:2%;width: 96%;">
                                <p style="width: 100%;">
                                                        <span>
                                                            <b>TOTAL PRICE</b>
                                                            <span style="float:right;" id="gross_price">&#8377;{{cartArrayOrderDetail.grossPrice}}</span>
                                                        </span>
                                </p>
                            </div>
                            <div class="row" style="padding-left:2%;width: 96%;">
                                <p style="width: 100%;">
                                                        <span>
                                                            <b>Discount</b>
                                                            <span id="discount_amount" style="float:right;" id="discount_amount">&#8377;{{cartArrayOrderDetail.discount_amount}}</span>
                                                        </span>
                                </p>
                            </div>
                            <div class="row" style="padding-left:2%;width: 96%;">
                                <p style="width: 100%;">
                                                        <span>
                                                            <b>GRAND TOTAL</b>
                                                            <span id="grand_total" style="float:right;">&#8377;{{cartArrayOrderDetail.totalPrice}}</span>
                                                        </span>
                                </p>
                            </div>
                            <div class="button button-bar row"
                                ng-if="value.status != 'dispatched'"
                                style="padding-left:2%;width: 25%;height: 10px;background-color: #af2020;margin-left: 72%"
                                 ng-click="showDeletePopUp(order)">
                                <p style="width: 100%;color: white;margin-top: 2px">
                                    <span style="color:white">
                                        <b>CANCEL</b>
                                </span>
                                </p>
                            </div>
                        </div>


                        <div ng-repeat="msgs in value.updates" class="row">
                                <div class="col">
                                    {{msgs.timestamp}}
                                </div>
                                <div class="col" style="word-wrap: break-word">
                                    {{msgs.message}}
                                </div>
                        </div>
                    </div>
                </div>
            </ion-list>
            <div style="
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        ">
                <button style="cursor:pointer;" ng-if="orderCount > 5" ng-click="loadMoreOrders('less')">
                    <span style="width : 22px;">←</span>
                    <span><u>Prev</u></span>
                </button>
                <button style="cursor:pointer;" ng-click="loadMoreOrders('more')">
                    <span><u>Next</u></span>
                    <span style="width : 22px;">→</span>
                </button>
            </div>
        </div>
    </ion-content>

</ion-view>
