<ion-view>
    <div class="bar bar-header">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" id="naviconIcon" style="color:white;">
        </button>
        <h1 class="title">PRICE LIST</h1>
        <button class="button button-icon button-clear ion-ios-cart" id="addToCartLogo" ng-click="continue();"
                style="color:white;">
        </button>
    </div>
  <ion-content class="has-header" ng-init="loadPrices()">
      <div class="padding">
        <ion-list>
            <div class="card" style="background-color: whitesmoke;"ng-repeat="(area,product) in pricesForAreas">
                <center><span style="font-size: larger">{{area}}</span> </center>
                <div ng-repeat="(itemType, items ) in product">
                    <div class="card" style="padding-left: 5%;">{{itemType}}</div>
                    <div ng-repeat="key in items">
                        <div class="row">
                            <div class="col-80" style="font-style: italic" >{{key.name}}</div>
                            <div class="col" >₹​ {{key.price}}</div>

                        </div>
                    </div>
                </div>
            </div>
        </ion-list>   
      </div>
  </ion-content>
</ion-view>
