<ion-view>
    <div class="bar bar-header">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" id="naviconIcon" style="color:white;">
        </button>
        <h1 class="title">PRICE LIST</h1>
        <button class="button button-icon button-clear ion-ios-cart" id="addToCartLogo" ng-click="continue();"
                style="color:white;">
        </button>
    </div>
  <ion-content class="has-header" ng-init="loadPrices()">
      <div class="padding">
        <ion-list>
            <div class="card" style="background-color: white;margin-top: 25px;"ng-repeat="(area,product) in pricesForAreas">
                    <center class="button button-bar" style="background-color:#388e3c;width: 70%;margin-left: 15%;height: 40px;margin-top: 20px">
                        <span style="font-size: 20px;color: white;font-weight: 600">{{area}}</span></center>
                <div ng-repeat="(itemType, items ) in product">
                    <div class="card" style="margin-top: 20px;padding-left: 5%;font-size: 16px;padding-top: 10px;background-color: #d4db2b">{{itemType}}</div>
                     <div class="row">
                            <div class="col-75" style="font-size: 14px;" >Item Name</div>
                            <div class="col" >Per Quintal Price</div>
                        </div>
                    <div ng-repeat="key in items">
                        <div class="row">
                            <div class="col-75" style="font-size: 14px;" >{{key.name}}</div>
                            <div class="col" >₹​ {{key.price}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>   
      </div>
  </ion-content>
</ion-view>
