<ion-view>
    <div class="bar bar-header">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" id="naviconIcon" style="color:white;">
        </button>
        <h1 class="title">MY PROFILE</h1>
        <button class="button button-icon button-clear ion-ios-cart" id="addToCartLogo" ng-click="continue();"
                style="color:white;">
        </button>
    </div>
  <ion-content ng-init="loadUserProfile()" class="has-header">
      <div class="padding" ng-hide="editProfile">
        <ion-list>
            <div class="row" style="margin-top: 5%">
                <div class="col col-67">  </div>
                <div class="col">
                    <button class="button icon icon-left ion-edit" ng-click="onEditProfile();" style="background-color:white;">
                        Edit
                     </button>
                </div>
            </div>
            <div class="card" style="background-color: white;margin-top: 5%"ng-repeat="(key,value) in userProfileView  ">
                    <div class="row" style="padding-left: 5%;">
                        <div class="col-25" >{{key}}</div>
                            <div class="col" >{{value}}</div>
                    </div>
                    
            </div>
            <div class="card" style="padding: 0" >             
                <div class="row" style="padding: 0">
                    <button class="button button-block button-assertive" style="padding: 0;margin: 0" ng-click="sendEmail()">
                    Reset password
                 </button>
                </div>
                    
            </div>
            
            
        </ion-list>   
      </div>
      <div class="padding" ng-show="editProfile">
          
            <div class="list list-inset">
                <div class="row" style="margin-top: 1%">
                    <div class="col">
                        <input type="text" class="animateInput" placeholder="Name" ng-model="userProfile.name" required="" style="width: 98%;">
                    </div>
                </div>              
                <div class="row" style="margin-top: 1%">
                    <div class="col">
                        <input type="text" class="animateInput" placeholder="Address" ng-model="userProfile.address" required="" style="width: 98%;">
                    </div>
                </div>
                
            </div>
          <div class="row">
              <div class="col">
                 <button class="button button-block button-stable" ng-click="cancel()">
                 Cancel
                 </button>
              </div>
              <div class="col">
                  <button class="button button-block button-positive" ng-click="updateProfile()">
                 UPDATE
                 </button>
              </div>
            </div>
      </div>
  </ion-content>
</ion-view>
