<ion-view view-title="Lalitha" ng-init="init();">
  <ion-content>
    <div class="button-bar padding">
      <a class="button button-positive" ng-repeat="tab in tabArray" id="{{tab}}tab" ng-click="changeContent(tab)">{{tab}}</a>
    </div>
    <div class="card" ng-show="selectedItem == 'rice'" ng-repeat = "(key, value) in riceArray" style="height:130px;background-color:lightgray;position:relative;">
      <div class = "row" style="height:100%;">
        <div class = "col col-20" style="height:100%;">
          <img ng-src="{{getImageUrl(key)}}" style="height:100%;"/>
        </div>
        <div class = "col">
          <div class="row" style="padding:0;">
            <div class="col" style="padding:0;">
              <div class="text-center" style="padding:0;">
                <h5 style="text-align: center;" id="{{key}}name"><b>{{value.name}}</b>
                  <br>
                  {{value.master_weight}}
                </h5>
              </div>
            </div>
          </div>
          <div class="row" style="padding:0;">
            <div class="col col-33" style="text-align:center;">Quantity</div>
            <div class="col col-33" style="text-align:center;">Bag</div>
            <div class="col col-33" style="text-align:center;">Amount</div>
          </div>
          <div class="row" style="height:40px;padding:0px;">

            <div class="col col-33">
<!--              <input type="text" id="{{key}}quantity" ng-keyup="textInQuantity(key,this.value.master_weight);" style="text-align:center;width:100%;" placeholder="quantity"/>-->
              <input type="number" min="0" step="{{value.master_weight.getWeight()}}" ng-keyup="textInQuantity(key,this.value.master_weight);"
                     placeholder="quantity" value="0" style="text-align:center;width:100%;" id="{{key}}quantity" /> 
            </div>
            <div class="col col-33">
              <input type="text" id="{{key}}bag" ng-keyup="textInBag(key,this.value.master_weight);" style="text-align:center;width:100%;" placeholder="bags"/>
            </div>
            <div class="col col-33">
              <p id="{{key}}price" style="text-align:center;width:100%;">Rs.{{getPrice(key)}}</p>
            </div>
          </div>
        </div>
      </div>
      <button class="button icon ion-checkmark-round" id="{{key}}button" ng-click="addToCart(key,value)"
              style="position:absolute;right:0px;top:0px;height:50px;width:50px;border-radius:25px;background-color:white;">

      </button>
    </div>

    <div class="card" ng-show="selectedItem == 'ravva'" ng-repeat = "(key, value) in ravvaArray" style="height:130px;background-color:lightgray;position:relative;">
      <div class = "row" style="height:100%;">
        <div class = "col col-33" style="height:100%;">
          <img src="img/image.jpg" style="height:100%;width:100%;"/>
        </div>
        <div class = "col">
          <div class="row" style="padding:0;">
            <div class="col" style="padding:0;">
              <div class="text-center" style="padding:0;">
                <h5 style="text-align: center;"><b>{{value.name}}</b>
                  <br>
                  {{value.master_weight}}
                </h5>
              </div>
            </div>
          </div>
          <div class="row" style="padding:0;">
            <div class="col col-33" style="text-align:center;">Quantity</div>
            <div class="col col-33" style="text-align:center;">Bag</div>
            <div class="col col-33" style="text-align:center;">Amount</div>
          </div>
          <div class="row" style="height:40px;padding:0px;">

            <div class="col col-33">
              <input type="text" style="text-align:center;width:100%;" placeholder="quantity"/>
            </div>
            <div class="col col-33">
              <input type="text" style="text-align:center;width:100%;" placeholder="bags"/>
            </div>
            <div class="col col-33">
              <input type="text" style="text-align:center;width:100%;" placeholder="price"/>
            </div>
          </div>
        </div>
      </div>
      <button class="button icon ion-checkmark-round"
              style="position:absolute;right:0px;top:0px;height:50px;width:50px;border-radius:25px;">

      </button>
    </div>

    <div class="card" ng-show="selectedItem == 'broken'" ng-repeat = "(key, value) in brokenArray" style="height:130px;background-color:lightgray;position:relative;">
      <div class = "row" style="height:100%;">
        <div class = "col col-33" style="height:100%;">
          <img ng-src="{{getImageUrl(key)}}" style="height:100%;width:100%;"/>
        </div>
        <div class = "col">
          <div class="row" style="padding:0;">
            <div class="col" style="padding:0;">
              <div class="text-center" style="padding:0;">
                <h5 style="text-align: center;"><b>{{value.name}}</b>
                  <br>
                  {{value.master_weight}}
                </h5>
              </div>
            </div>
          </div>
          <div class="row" style="padding:0;">
            <div class="col col-33" style="text-align:center;">Quantity</div>
            <div class="col col-33" style="text-align:center;">Bag</div>
            <div class="col col-33" style="text-align:center;">Amount</div>
          </div>
          <div class="row" style="height:40px;padding:0px;">

            <div class="col col-33">
                <input type="text" id="{{key}}quantity" style="text-align:center;width:100%;" 
                       ng-keydown="textInQuantity(this);" placeholder="quantity"/>
            </div>
            <div class="col col-33">
              <input type="text" id="{{key}}bags" style="text-align:center;width:100%;"
                     ng-keydown="textInBag(this);" placeholder="bags"/>
            </div>
            <div class="col col-33">
                <p id="{{key}}price" style="text-align:center;width:100%;"></p>
            </div>
          </div>
        </div>
      </div>
      <button class="button icon ion-checkmark-round"
              style="position:absolute;right:0px;top:0px;height:50px;width:50px;border-radius:25px;">

      </button>
    </div>
      

  </ion-content>
    <ion-footer-bar align-title="center" class="bar-assertive">
        <button ng-click="proceedToSaveInCart()">Proceed</button>
    </ion-footer-bar>
</ion-view>
