<ion-view view-title="SHOPS" ng-init="onInit()">
  <ion-content>
      <div class="padding" ng-hide="showShopInput" style="margin-top:10%;">
        <ion-list>
          <div ng-repeat="shop in shopArray">
            <ion-item class="item-stable"
                      ng-class="{active: isGroupShown(shop)}">
                <div class="row">
                    <div class="col col-10" ng-click="toggleGroup(shop)" style="cursor:pointer;">
                        <i class="icon" ng-class="isGroupShown(shop) ? 'ion-minus' : 'ion-plus'"></i>
                    </div>
                    <div class="col col-50">
                        Shop :- {{shop.name}}
                    </div>
                    <div class="col col-10">
                        <i class="icon ion-plus-circled" ng-click="removeShop(shop.tin)"></i>
                    </div>
                    <div class="col col-20">
                        <span ng-click="showEditBox(shop);"><u></u>Edit</u></span>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-accordion"
                      ng-show="isGroupShown(shop)">
                    <div class="row" ng-repeat="(key,value) in shop">
                    <!--Proprietory Name :- {{shop.proprietor_name}}<br>
                    Mobile Number :- {{shop.mobile}}<br>-->
                        <div class="col">
                            {{key}}:-
                        </div>
                        <div class="col">
                            {{value}}
                        </div>
                    </div>
            </ion-item>
          </div>
        </ion-list>   
      </div>
      <div class="padding"><center>
            <button class="button  button-positive icon icon-left ion-plus" ng-hide="showShopInput" ng-click="showShopInput = true;">
                New Shop
            </button>
          </center>
      </div>
  
      <div id="shopDiv" class="padding" ng-show="showShopInput">
          <div class="list list-inset">
              <div class="row padding">
                  <div class="col" style="background-color: darkgray">
                        <h4><center>New Shop</center></h4>
                  </div>
                  <div class="col">
                         <button class="button button-positive" ng-click="showShopInput = false;">Cancel</button>
                  </div>
              </div>
          <div class="list list-inset" ng-hide="isChecked">
              <div class="row">
                  <div class="col">
                      <span class="row"><strong>Shop Name</strong></span>
              <label class="row item item-input" style="background-color: lightgray; margin-top: 3px; width: 70%">
                  <input type="text" placeholder="Name" ng-model="shop.name">
              </label>
              </div>
              </div>
          </div>
              <div class="row" style="margin-top: 1%">
                  <div class="col">
                      <span class="row"><strong>Proprietor Name</strong></span>  
              <label class="row item item-input" style="background-color: lightgray; margin-top: 3px; width: 70%">
                  <input type="text" placeholder="Proprietor Name" ng-model="shop.proprietor_name">
              </label>
              </div>
                  </div>
              <div class="row" style="margin-top: 1%">
                  <div class="col">
                      <span class="row"><strong>Mobile</strong></span>
              <label class="row item item-input" style="background-color: lightgray; margin-top: 3px; width: 70%">
                  <input type="text" placeholder="Mobile" ng-model="shop.mobile">
              </label>
              </div>
              </div>
              <div class="row" style="margin-top: 1%">
                  <div class="col">
                      <span class="row"><strong>Pan</strong></span>   
              <label class="row item item-input" style="background-color: lightgray; margin-top: 3px; width: 70%">
                  <input type="text" placeholder="Pan" ng-model="shop.pan">
              </label>
              </div>
                  </div>
              <div class="row" style="margin-top: 1%">
                   <div class="col">
                       <span class="row"><strong>Tin</strong></span>
              <label class="row item item-input" style="background-color: lightgray; margin-top: 3px; width: 70%">
                  <input type="text" placeholder="Tin" ng-model="shop.tin">
              </label>
              </div>
                  
              </div>
               <div class="row" style="margin-top: 1%">
                          <div class="col">
                              <span class="row" style="font-style: bold"><strong>Tax Type(CST/VAT)</strong></span>
                           <select ng-model="shop.taxType"> 
                                <option value="VAT">VAT</option>
                                <option value="CST">CST</option>
                            </select>
                            </div>
                    </div>
              <div class="row" style="margin-top: 1%">
                  <div class="col">
                      <span class="row"><strong>Address</strong></span> 
                      <div id="shopnumber">
                      <label class="row item item-input" style="background-color: lightgray; margin-top: 3px; width: 70%">
                          <input type="text" placeholder="House/Door/Shop Number" ng-model="shop.shopnumber">
                      </label>
                      </div>
                      <div id="selectstreet">
                      <label class="row item item-input" style="background-color: lightgray; margin-top: 3px; width: 70%">
                           <input type="text" placeholder="Street Name" ng-model="shop.street">
                           </label>
                      </div>
                      <div id="city">
                       <label class="row item item-input" style="background-color: lightgray; margin-top: 3px; width: 70%">   
                              <input type="text" placeholder="City/Town/Village Name" ng-model="shop.city">
                       </label>
                      </div>
                      <span class="row" style="padding-left: 5%;padding-top: 5%">Please Select Area</span> 
                      <div id="selectarea" style="background-color: lightgray; margin-top: 5%; width: 70%; height:40px; border: 1px ">
                           <select ng-model="shop.areaId" 
                                 ng-options="item.id as item.name for item in areas">
                                <option value="">Select Area</option>
                            </select>
                      </div>
                     
                      <div id="selectpin">
                      <label class="row item item-input" style="background-color: lightgray; margin-top: 3px; width: 70%">
                           <input type="text" placeholder="Pincode" ng-model="shop.pincode">
                           </label>
                      </div>
                           
                  </div>
              </div>
                    
              </div>
            <div class="padding">
                 <button class="button button-block button-positive" ng-click="addNewShop()">
                     <b ng-hide="editType">Submit</b>
                     <b ng-show="editType">Edit</b>
                 </button>
            </div>
      </div> 
  </ion-content>
</ion-view>
