<ion-view ng-init="onInit()">
    <div class="bar bar-header">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" id="naviconIcon" style="color:white;">
        </button>
        <h1 class="title" style="color:white;">SHOPS</h1>
        <button class="button button-icon button-clear ion-ios-cart" id="addToCartLogo" ng-click="continue();"
                style="color:white;">
        </button>
    </div>
  <ion-content class="has-header">

      <div class="padding" ng-hide="showShopInput" style="margin-top:10%;">
          <input type="text" ng-model="shopSearchText.name"
                 id="shopSearch" placeholder="Search for Shop" class="search-input quick-search"
                    style="margin-left:30%;width: 70%;margin-bottom:10px;padding-left:10px;">
        <ion-list>
          <div ng-repeat="shop in shopArray | filter:filterShop">
            <ion-item class="item-stable"
                      ng-class="{active: isGroupShown(shop)}">
                <div class="row">
                    <div class="col col-10" ng-click="toggleGroup(shop)" style="cursor:pointer;">
                        <i class="icon" ng-class="isGroupShown(shop) ? 'ion-minus' : 'ion-plus'"></i>
                    </div>

                    <div class="col wrapWord" style="color: #388e3c;font-size: 18px" ng-click="toggleGroup(shop)" title="{{shop.name}}" >
                        {{shop.name}}
                    </div>
                    <div class="col col-10" ng-show="editShopEnabled">
                        <i class="icon ion-edit" ng-click="showEditBox(shop);"></i>
                    </div>
                    <div class="col col-10" ng-show="addShopEnabled && editShopEnabled">
                        <i class="icon icon ion-trash-b" ng-click="showConfirmRemoveShop(shop.tin)" style="float: right;"></i>
                    </div>
                </div>
            </ion-item>
            <ion-item class="card item-accordion"
                      ng-show="isGroupShown(shop)">
                    <div class="row" ng-repeat="(key,value) in shop">
                        <div class="col">
                            {{key.toUpperCase()}}
                        </div>
                        <div class="col" style="width:50%;word-wrap: break-word;">                            
                            {{value.trim()}}
                        </div>
                        <div class="col-10">
                        <span style="color:green; font-size: 30px;padding-left: 5px" ng-if="key.toUpperCase()==='MOBILE'">       
                                <a href="{{callShop(shop)}}"><i class="ion-ios-telephone"></i></a>
                         </span>
                        </div>
                       
                    </div>
                    <div class="row" style="color:#e40e46">
                        <div class="col" >
                            Last ordered
                        </div>
                        <div class="col" style="width:50%;word-wrap: break-word;">
                            {{getTimeSinceLastOrdered(shop)}}
                           
                        </div>
                         
                       </div>
            </ion-item>
          </div>
        </ion-list>
      </div>
      <div class="padding"><center>
            <button class="button  button-positive icon icon-left ion-plus" ng-hide="showShopInput" ng-click="showNewShopEdit();">
                New Shop
            </button>
          </center>
      </div>

      <div id="shopDiv" style="padding:0" ng-show="showShopInput">
          <div class="list list-inset" style="padding: 0">
              <div class="row" style="padding:0">
<!--                  <div class="col" style="background-color: darkgray;max-height:50px;">
                        <h4><center>New Shop</center></h4>
                  </div>-->
                  
              </div>
          </div>

          <div class="row">
              <div class="col">
                  <input type="text" class="animateInput" placeholder="Name" ng-model="shop.name" required="" style="width: 98%;">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" class="animateInput" placeholder="Proprietor Name" ng-model="shop.proprietor_name" required="" style="width: 98%;">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="tel" class="animateInput" placeholder="Mobile" ng-model="shop.mobile" required="" style="width: 98%;">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" class="animateInput" placeholder="Pan" ng-model="shop.pan" required="" style="width: 98%;">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" class="animateInput" placeholder="Tin" ng-model="shop.tin" required="" style="width: 98%;">
              </div>
          </div>
          <div style="background-color: lightgray; margin-top: 2%; margin-left: 15%;width: 70%; height:30px; border: 1px ">
                  <label class = "item item-input item-select">
                    <div class = "input-label">
                       Tax Type
                    </div>
                    <select ng-model="shop.taxType">
                        <option value="VAT">VAT</option>
                          <option value="CST">CST</option>
                    </select>
                 </label>
          </div>
          <div class="row" style="margin-top:5%;">
              <div class="col">
                  <input type="text" class="animateInput" placeholder="House/Door/Shop Number" ng-model="shop.shopnumber" required="" style="width: 98%;">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" class="animateInput" placeholder="Street Name" ng-model="shop.street" required="" style="width: 98%;">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" class="animateInput" placeholder="City/Town/Village Name" ng-model="shop.city" required="" style="width: 98%;">
              </div>
          </div>
          <div id="selectarea" style="background-color: lightgray; margin-top: 5%; margin-left: 15%;width: 70%; height:30px; border: 1px ">
              <label class = "item item-input item-select">
                <div class = "input-label">
                   Select Area
                </div>

                <select ng-model="shop.areaId"
                      ng-options="item.id as item.name for item in areas">
                   <option value="">--No Area--</option>
                </select>
             </label>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" class="animateInput" placeholder="Pincode" ng-model="shop.pincode" required="" style="width: 98%;">
              </div>
          </div>
          <div class="padding">
              <div class="row">
                    <div class="col" style="max-height: 50px;padding-top: 0px;padding-bottom: 0px;">
                         <button class="button button-block button-positive" ng-click="closeEditBox();" style="margin:0;">Cancel</button>
                    </div>
                    <div class="col" style="max-height: 50px;padding-top: 0px;padding-bottom: 0px;">
                        <button class="button button-block button-positive" style="margin: 0;" ng-click="addNewShop()">
                     <b ng-hide="editType">SUBMIT</b>
                     <b ng-show="editType">DONE</b>
                    </button>
                    </div>
                  
              </div>
                 
            </div>
      </div>
  </ion-content>
</ion-view>
