<ion-view view-title="SHOPS">
  <ion-content>
      <div class="padding" ng-hide="showShopInput">
        <ion-list>
          <div ng-repeat="shop in shopArray">
            <ion-item class="item-stable"
                      ng-click="toggleGroup(shop)"
                      ng-class="{active: isGroupShown(shop)}">
                <i class="icon" ng-class="isGroupShown(shop) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              Shop :- {{shop.name}}
              <i class="icon ion-plus-circled" ng-click="removeShop(shop.tin)" style="align:right;"></i>
            </ion-item>
            <ion-item class="item-accordion"
                      ng-show="isGroupShown(shop)">
              Proprietory Name :- {{shop.proprietor_name}}
              Mobile Number :- {{shop.mobile}}
            </ion-item>
          </div>
        </ion-list>   
      </div>
      <div class="padding"><center>
            <button class="button  button-positive icon icon-left ion-plus" ng-hide="showShopInput" ng-click="showShopInput = true;">
                New Shop
            </button>
          </center>
      </div>
  
      <div id="shopDiv" class="padding" ng-show="showShopInput">
          <div class="list list-inset">
              <div class="row padding">
                  <div class="col" style="background-color: darkgray">
                        <h4><center>New Shop</center></h4>
                  </div>
                  <div class="col">
                         <button class="button button-positive" ng-click="showShopInput = false;">Cancel</button>
                  </div>
              </div>
              <label class="item item-input">
                  <input type="text" placeholder="Name" ng-model="shop.name">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Proprietor Name" ng-model="shop.proprietor_name">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Mobile" ng-model="shop.mobile">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Pan" ng-model="shop.pan">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Tin" ng-model="shop.tin">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="State" ng-model="shop.state">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="District" ng-model="shop.district">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="City" ng-model="shop.city">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Address" ng-model="shop.address">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Tax Type "ng-model="shop.tax_id.type">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Tax Value" ng-model="shop.tax_id.value">
              </label>
            </div>
            <div class="padding">
                 <button class="button button-block button-positive" ng-click="addNewShop()">Submit</button>
            </div>
      </div> 
  </ion-content>
</ion-view>
