<ion-view>
    <div class="bar bar-header" style="background-color: white">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" id="naviconIcon" style="color:white;">
        </button>
        <h1 class="title">Summary</h1>
        <button class="button button-icon button-clear ion-ios-cart" id="addToCartLogo" ng-click="continue();"
                style="color:white;">
        </button>
    </div>
    <ion-content ng-init = "init();" style="background-color: white;font-size: 12px">
        <h3 style="margin-top:75px"><center>Order Summary</center></h3>
        <div class="padding" ng-repeat="shop in shopArrayDup" >
            <h4 style="margin-left:10px">{{shop.name}}</h4>
            <hr style="margin-left:10px">
            <!--<div class="row"  style="margin-top: 5px">
                <div class="col-25">
                    <p  style="text-align: right;margin-right: 25%"><i>Item Name</i></p>
                </div>
                <div class="col-10">
                    <p style="text-align: right;margin-right: 25%">Wt in Qtls</p>
                </div>
                <div class="col">
                    <p style="text-align: right;margin-right: 25%">Qtl Price</span>
                </div>
                 <div class="col">
                    <p style="text-align: right;margin-right: 25%">Price Aft Disc</p>
                </div>
                <div class="col-25">
                    <p style="text-align: right;margin-right: 25%">Price</p>
                </div>

            </div>-->

            <div ng-repeat="(key,item) in shop.items" >
                <div ng-repeat="(k,v) in item" >
                    <!--<div class="row">
                        <div class="col-25">
                            <p style="text-align: right;margin-right: 25%">{{v.name}}</p>
                        </div>
                        <div class="col-10">
                            <p style="text-align: right;margin-right: 25%">{{v.weight}}</p>
                        </div>
                        <div class="col">
                            <p style="text-align: right;margin-right: 25%">&#8377;{{v.quintalWeightPrice}}</p>
                        </div>
                        <div class="col">
                            <p style="text-align: right;margin-right: 25%">&#8377;{{v.discountedQuintalPrice}}</p>
                        </div>
                        <div class="col-25">
                            <p style="text-align: right;margin-right: 25%">&#8377;{{v.price}}</p>
                        </div>
                    </div>-->
                    <div class="card">
                        <div class="row">
                            <p style="width: 100%;">
                                <span><b>Item Name</b></span>
                                <span style="float:right;">{{v.name}}</span>
                            </p>
                        </div>
                        <div class="row">
                            <p style="width: 100%;">
                                <span><b>Weight in Quintals</b></span>
                                <span style="float:right;">{{v.weight}}</span>
                            </p>
                        </div>
                        <div class="row">
                            <p style="width: 100%;">
                                <span><b>Quintal Price</b></span>
                                <span style="float:right;">&#8377;{{v.quintalWeightPrice}}</span>
                            </p>
                        </div>
                        <div class="row">
                            <p style="width: 100%;">
                                <span><b>Price After Discount</b></span>
                                <span style="float:right;">&#8377;{{v.discountedQuintalPrice}}</span>
                            </p>
                        </div>
                        <div class="row">
                            <p style="width: 100%;">
                                                        <span>
                                                            <b>Price</b>
                                                            <span style="float:right;">&#8377;{{v.price}}</span>
                                                        </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="color:green">            
                <div class="col">
                    <span>Total: {{shop.totalShopPrice}}</span>
                </div>
                <div class="col-25">
                    <span>Discount: {{shop.shopDiscountAmount}}</span>
                </div>
                <div class="col-40">
                    <span>Amount Payable: {{shop.shopGrossAmount}}</span>
                </div>
                
            </div>
            <hr style="border-top: 1px dotted">
            <br>
        </div>

        <div class="row" style="margin-top: 5%;">
            <div class="col-40" >
                <p style="margin-left: 10px;">REDEEM COUPON</p>
                <div class="row" style="margin-top: 5%;">
                    <div class="col" style="border: 1px solid black;border-radius: 20px;height:50%;margin-right: 15px">
                        <input class="coupon" type="text" placeholder="COUPON CODE" ng-model="cartArray.couponCode">
                    </div>
                    <div class="col" style="padding: 0">
                        <button class="button button-block button-calm" style="background-color: #388e3c;margin-top:0;" ng-click="applyCoupon()">APPLY</button>
                    </div>
                </div>
                <div class="row" style="margin-top:5%">
                    <textarea id="specialMsg" style="" rows="4" placeholder="Special instructions. Example: &quot;Do not deliver the order on Sunday&quot;"></textarea>
                </div>
            </div>


            <div class="col" style="font-size: 75%;margin-bottom: 20%">
                <ul class="priceList" style="font-size: 14px">
                    <li>
                        <div class="row">
                            <div class="col" style="padding: 0;font-weight: 900">
                                <span>TOTAL PRICE</span>
                            </div>
                            <div class="col" style="padding: 0">
                                <span style="padding-left: 10%;font-weight: 900" id="gross_price"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col" style="padding: 0">
                                <span>DISCOUNT</span>
                            </div>
                            <div class="col" style="padding: 0">
                                <span style="padding-left: 10%" id="discount_amount"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col" style="padding: 0;font-weight: 900">
                                <span>GRAND TOTAL</span>
                            </div>
                            <div class="col" style="padding: 0;font-weight: 900">
                                <span style="padding-left: 10%;" id="grand_total"></span>
                            </div>
                        </div>
                    </li>
                    <li><div class="row" style="margin-top: 10%;left:70%;">
                        <button class="button button-block button-calm" style="width: 100%;background-color: #fb641b;" ng-click="showConfirmPopUp()">Submit</button>
                    </div>
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>
