<ion-view>
    <div class="bar bar-header" style="background-color: white">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" id="naviconIcon" style="color:white;">
        </button>
        <h1 class="title">Summary</h1>
        <button class="button button-icon button-clear ion-ios-cart" id="addToCartLogo" ng-click="continue();"
                style="color:white;">
        </button>
    </div>
    <ion-content ng-init = "init();" style="background-color: white">
        <h3 style="margin-top:40px"><center>Order Summary</center></h3>
        <div class="padding" ng-repeat="shop in shopArray" >
            <h4 style="margin-left:10px">{{shop.name}}</h4>
            <hr style="margin-left:10px">
            <div class="row"  style="margin-top: 5px">
                <div class="col">
                    <span><i>Item Name</i></span>
                </div>
                <div class="col">
                    <span>Weight in Quintals</span>
                </div>
                <div class="col">
                    <span>Quintal Price</span>
                </div>
                 <div class="col">
                    <span>Price After Discount</span>
                </div>
                <div class="col">
                    <span>Price</span>
                </div>

            </div>

            <div ng-repeat="(key,item) in shop.items" >
                <div ng-repeat="(k,v) in item" >
                    <div class="row">
                        <div class="col">
                            <span>{{v.name}}</span>
                        </div>
                        <div class="col">
                            <span>{{v.weight}}</span>
                        </div>
                        <div class="col">
                            <span>&#8377;{{v.quintalWeightPrice}}</span>
                        </div>
                        <div class="col">
                            <span>&#8377;{{v.discountedQuintalPrice}}</span>
                        </div>
                        <div class="col">
                            <span>&#8377;{{v.price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px dotted">
            <br>
        </div>

        <div class="row" style="margin-top: 5%;">
            <div class="col" >
                <p style="margin-left: 10px;">REDEEM COUPON</p>
                <div class="row" style="margin-top: 5%;">
                    <div class="col" style="border: 1px solid black;border-radius: 20px;height:50%;margin-right: 15px">
                        <input class="coupon" type="text" placeholder="COUPON CODE" ng-model="cartArray.couponCode">
                    </div>
                    <div class="col" style="padding: 0">
                        <button class="button button-block button-calm" style="background-color: lightslategray;margin-top:0;" ng-click="applyCoupon()">APPLY</button>
                    </div>
                </div>
                <div class="row" style="margin-top:5%">
                    <textarea id="specialMsg" style="" rows="4" placeholder="Special instructions. Example: &quot;Do not deliver the order on Sunday&quot;"></textarea>
                </div>
            </div>


            <div class="col" style="padding-left: 5%;font-size: 75%;margin-bottom: 20%">
                <ul class="priceList">
                    <li>
                        <div class="row">
                            <div class="col" style="padding: 0">
                                <span>TOTAL PRICE</span>
                            </div>
                            <div class="col" style="padding: 0">
                                <span style="padding-left: 20%" id="gross_price">&#8377;{{cartArray.grossPrice}}</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col" style="padding: 0">
                                <span>DISCOUNT</span>
                            </div>
                            <div class="col" style="padding: 0">
                                <span style="padding-left: 20%" id="discount_amount">&#8377;</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col" style="padding: 0">
                                <span>GRAND TOTAL</span>
                            </div>
                            <div class="col" style="padding: 0;">
                                <span style="padding-left: 20%;" id="grand_total">&#8377;{{cartArray.totalPrice}}</span>
                            </div>
                        </div>
                    </li>
                    <li><div class="row" style="margin-top: 10%;left:70%;">
                        <button class="button button-block button-calm" style="width: 100%;background-color: #fb641b;" ng-click="showConfirmPopUp()">Submit</button>
                    </div>
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>
